/*
define min width and height
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

div{
    border: 1px solid black;
}

#calculator-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: calc(0.75 * 100vh);
    background-color: black;
    border-radius: 5%;
}

#input-history{
    width: 94%;
    height: 7%;
    margin-top: 3%;
}

#output-frame{
    height: 7%;
    width: 94%;
    margin-top: 3%;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    text-align: right;
}

#input-frame{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 94%;
    margin-top: 5%;
}

.buttons{
    font-size: 4rem;
    border-radius: 5%;
    width: calc(100% / 4);
    height: calc(100% / 5);
}

#btn-equal, #btn-clear, #btn-pos-neg{
    background-color: turquoise;
}

#btn-equal:active, #btn-clear:active, #btn-pos-neg:active{
    background-color: #00ced1;
}

#btn-0:active, #btn-1:active, #btn-2:active, #btn-3:active, #btn-4:active, #btn-5:active,
#btn-6:active, #btn-7:active, #btn-8:active, #btn-9:active, #btn-decimal:active{
    background-color: darkgrey;
}

#btn-modulo, #btn-division, #btn-multiplication, #btn-substraction, #btn-addition{
    background-color: orange;
}

#btn-modulo:active, #btn-division:active, #btn-multiplication:active, #btn-substraction:active, 
#btn-addition:active{
    background-color: #ff8c00;
}

#btn-empty{
    background-color: transparent;
    border: none;
}
